* {
	box-sizing: border-box;
}

body {
  padding-top: 50px;
  padding-left: 30px;
}


.modal{
  /*display:none;*/
  position: fixed;
  z-index:1;
  right: 0;
  top:200px;
  height: 600px;
  width: 400px;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

#closeBtn{
  color:#ccc;
  float: right;
  font-size:30px;
  color:#fff;
}

#closeBtn:hover,#closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

modal-content {

}


iframe {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	padding-left: 0;
}

form {
	padding-bottom: 30px;
}

.gallery {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}

.thumbnail {
	/*wdith: 320px;
	height: 184px;*/
}