* {
	box-sizing: border-box;
}

body {
  padding-top: 50px;
  padding-left: 25px;
  background-color: #f9dfa9;
}

h1, h2 {
  text-align: center;
}

.js-search-form, #gallery-nav {
  text-align: center;
  margin: 0 auto;
}

#btn {
  background-color: #35455e;
  color: white;
}
#previous, #next {
  display: none;
  background-color: #324056;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 15px;
  position: relative;
  margin: 20px;
  border-color: white;
}

#previous:hover, #next:hover {
  background-color: #6f7e96;
  color: white;
}

#gallery-head {
  text-align: center;
  margin-bottom: 15px;
}

#page-display {
  display: block;
  background-color: white;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
}

#modal-container{
  display:none;
  position: fixed;
  z-index:1;
  right: 0;
  top:0;
  height: 1000px;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  padding-top: 0;
  margin-top: 0;
}
/*#modal-content > button {
  opacity: 1;
  z-index: 9;
  position:relative;
  right:150px;
  top:50px;
}*/

.controls {
  float: right;
  padding: 15px;
}

#closeBtn > img{
  width: 40px;
  height: 40px;
  z-index: 9;
  margin: 0 auto;
  padding: 0;
  border-radius: 15px;
  opacity: 0.9;
  position:relative;
  right:-90px;
  top:-755px;
}

#closeBtn:hover,#closeBtn:focus{
  text-decoration: none;
  cursor:pointer;
}

iframe {
  position: relative;
  top: 50px;
  left: 150px;
	width: 75%;
	height: 850px;
	margin: 0 auto;
	padding-left: 0;
  z-index: 2;
}

form {
	padding-bottom: 30px;
}

.gallery {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}

.thumbnail {
	display: block; 
  position: relative; 
  overflow: hidden; 
}

img {
  overflow: hidden;
  border-width: : 2px;
  border-style: none;
}

figcaption {
 position: absolute; 
  background: rgba(0,0,0,0.4); 
  color: white; 
  padding: 10px 20px; 
  opacity: 0;
  bottom: 0; 
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

.thumbnail .playBtn {
  display: none;
  position: absolute; z-index: 2;
  width: 50px; height: 50px;
  left: 0; right: 0; top: 0; bottom: 0; margin: auto; /* center */
}


.thumbnail:hover figcaption {
  opacity: 1;
  left: 0;
}

.thumbnail:hover .playBtn {
  display: block;
}

@media only screen and (max-width: 1200px) {
  modal-container {
    height:300px;
    width: 100%;
  }
  iframe {
    left: 20px;
  }
  #closeBtn > img{
    right: 45px;
  }
}
