* {
	box-sizing: border-box;
}

body {
  padding-top: 50px;
  padding-left: 30px;
}

form {
	padding-bottom: 30px;
}

.gallery {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}

.thumbnail {
	/*wdith: 320px;
	height: 184px;*/
}